[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[scripts]

lint = "flake8"
test = "python examples.py"


[dev-packages]

neovim = "*"
ipdb = "*"
"flake8" = "*"


[packages]

requests = "*"
ipython = "*"
django = "*"
xmltodict = "*"
toolz = "*"
